@tailwind base;
@tailwind components;
@tailwind utilities;

body { font-family: 'Inter', sans-serif; }
.tool-btn { @apply h-12 bg-zinc-900 border border-zinc-800 rounded-xl text-[10px] font-bold tracking-widest hover:border-violet-500 hover:text-violet-400 transition-all; }
#editor-screen.grid { display: grid; }
video::-webkit-media-controls-panel { background-image: linear-gradient(transparent, rgba(0,0,0,0.5)) !important; }
